.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Ignorar tests de TypeScript
src/test/**

# Ignorar tests compilados
dist/test/**
**/images/presentation.gif
**/commitlint.config.js
**/.releaserc.json
**/.prettierignore
**/semantic.log
